<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
    <li>
     <a href="https://cmalt.mrkn.us">CMALT Portfolio</a>
    </li>
    <li>
     <a href="http://pgche.tumblr.com/">PGCHE/FHEA Portfolio</a>
    </li>
    <li>
     <a href="https://docs.google.com/document/d/1dCbkr8LFykQfQsu0jDFaP-2lF3SHNyWa68alD2dq754/edit?usp=sharing">MA Education Dissertation</a>
    </li>
  </ul>
</nav>